html,

body{
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
  }
  
  *{
    box-sizing: border-box;
  }
  
#Logo_Homecontainer{
    justify-content: center;
    width: 100%;
    height: 95%;
    display: flex;
}

#Navbar_LogoContainer{
    display: flex;
}
#Navbar_LogoContainer p{
    margin-top: 5px;
}

#Navbar_Container{
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
}
:root{
    --red : #df4747;
    --redBootcamp : #eb4d4d;
}

#Navbar_Subcontainer{

    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 30px;
}
#lista_container{
    display: flex;
    margin-top: 10px;
    list-style: none;
    font-weight: 600;
}
#divContainer_p{
    margin-left: 13%;
    font-weight: 600;
    font-size: 22px;
    
}
.subItem_lista{
    padding-left: 30px;
}

#divContainer_Position{
    margin-top: 10%;
}

#Section_QuienesSomos{
    width: 100%;
    display: flex;
    background-color: #b94b4b;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
#Container_Muva{
    display: flex;
    justify-content: center;
}

/* section quienes somos */


#QuienesSomos_Logo{
    margin-left: 65%;
}

#QuienesSomos_parrafo{
  padding-top: 0;
  font-weight: 500;
  font-size: 25px;
  color: white;
  letter-spacing: 3px;
  width: calc(10%);
}

#Png_coding{
    width: 10%;
    object-fit: contain;
}

#senior{
    color: var(--red);
}

#record{
    color: black;;
}


#QuienesSomos_p{
    color: rgb(0, 0, 0);
}



/*  Section_Porque*/

#Section_Porque{
    width: 100%;
    height: auto;
    background-image: url('./assets/M\ U\ V\ A.png');
    background-color: #f7f2f2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#Section_p{
    margin: 0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: var(--red);
    font-weight: bolder;
}



#Porque_CardsContainer{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    display: flex;
}


.Porque_card{
    color: white;
    text-align: center;
    width: 30%;
    margin-top: 40px;
}

.Porque_p{
    color: var(--red);
    font-size: 20px;
    font-weight: bolder;
}

.Porque_beneficio{
    margin-top: 10%;
    font-weight: bold;
    color: black;
}

#Examenes{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.examen_p{
    margin-top: 0;
    padding-left: 50px;
}
#Examen_card{
    display: flex;
    width: 400px;
}
#Examen_pExam{
    color: var(--red);
   font-weight: 900;
}

#Examen_Descripcion{
    color: black;
    font-size: 18px;
}

.Strong_examen{
    color: var(--red);
}

hr{
    width: 50%;
}



i{
    color: var(--red);
    font-size: 50px;
}

/* Criterios*/
#Porque_Criterios{
    margin-top: 80px;
}

#criterios_p{
    margin-top: 0;
    margin-left: 38%;
    font-size: 40px;
    color: white;
}

#strong_p{
    color: rgba(219, 51, 51, 0.9);
}



 #Bootcamps_Container{
    width: 100%;
    height: 45%;
    background-color: rgb(219, 130, 130);
 }

 #Bootcamps_p{
    text-align: center;
    font-size: 40px;
}
 


/* Bootcamps */
#Image_Container{
    width: 50%;
    height: 100%;
}
#Bootcamps_p{
    margin-top: 0;
    padding-top: 10px;
    text-align: center;
}



#Bootcamps_CardsContainer{
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

ul{
    list-style: none;
    text-align: start;
    line-height: 30px;
    padding-left: 23%;
}

#ReactIcon{
 width: 100px;
}
#JavascriptIcon{
    width: 87px;  
}
#NodeIcon{
    width: 142px;  
}


.Bootcamps_subItem{
text-align: center;
}

.CardTechnology{
    margin-left: 2%;
    height: auto;
    width: 20%;
}
.Bootcamp_Requisitos{
    margin-left: 0;
}

/*  */
#Pago_Container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#Pago_Container p{
    margin-top: 0;
    color: black;
    padding-top: 30px;
    font-size: 25px;
}

#MercadoPago{
padding-left: 15%;
padding-top: 15%;
width: 170px;    
}

.button_download{
    margin-top: 2%;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color:  rgba(219, 51, 51, 0.9);;
    color: white;
}
.button_download2{
    margin-top: 2%;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color:  rgba(0, 0, 0, 0.9);;
    color: white;
}

#Footer_container{
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    height: 5%;
    background-color: rgb(0, 0, 0);
}
#Copyright_footer{
    margin-top: 0;
    padding-top: 0.8%;
    padding-left: 10px;
    color: white;
}

.footer_links{
    color: white;
    padding-left: 5px;
}

#Icons_container{
    font-size: 25px;
    padding-top: 0.5%;
}



